.comp-emailList {
    background-color: var(--bg-primary);
    scrollbar-color: var(--primary) transparent;
    scrollbar-width: thin;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    width: clamp(28rem, 30vw, 40rem);
    min-width: 28rem;
    max-width: 40rem;
    min-height: 0;
    flex: 0 1 40rem;
    height: 100%;
    overflow-y: auto;

    border-right: 2px solid var(--border);
    padding: 1.2rem;
    border-radius: .5rem;
    box-shadow: inset -4px 0 12px rgba(38, 59, 74, .1);

    p, i {
        font-size: 1.8rem;
    }
}

.comp-emailList::-webkit-scrollbar {
    width: 6px;
}

.comp-emailList::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 999px;
}

.comp-emailList::-webkit-scrollbar-track {
    background-color: transparent;
}