.comp-sidebar {
    background: linear-gradient(180deg, var(--corRosaClaro), #d8bdca);

    width: 22rem;
    padding: 2rem;
    border-right: 2px solid var(--corMagentaEscuro);
    min-height: calc(100vh - 65px);
    box-shadow: 4px 0 14px rgba(52, 17, 63, 0.12);

    h2 {
        color: var(--corDarkAmetist);
        margin-top: 0;
        border-bottom: 2px solid var(--corMagentaEscuro);
        padding-bottom: .8rem;
        margin-bottom: 3rem;
        font-size: 2.2rem;
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

}