.comp-emailViewer {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--corLavender);

    flex: 1;
    padding: 1rem;

    .email-remetente {
        align-self: start;
    }

    #nenhumEmail {
        display: flex;

        width: 100%;
    }
}